.header {
  background-color: white;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  position: relative;
}

.nav-list-item, .nav-list-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: _;
  position: relative;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.nav-list-link-current::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(33, 150, 243);
  margin-bottom: -33px;
  -webkit-animation-name: ani;
          animation-name: ani;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.icons-list-link, .join-list-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 480px) and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 480px) and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: Roboto;
  font-size: 14px;
  padding-top: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

.adress-list {
  margin-top: 20px;
}
.adress-list-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
.adress-list-location-link {
  color: rgb(255, 255, 255);
}
.adress-list-item {
  margin-bottom: 9px;
}

.adress {
  margin-top: 20px;
}
.adress-list-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
.adress-list-location-link {
  color: rgb(255, 255, 255);
}
.adress-list-item {
  margin-bottom: 9px;
}

.feautures-list-img-first::before {
  content: "";
  background-image: url(../img/antena.png);
  width: 450px;
  height: 120px;
  display: inline-block;
  background-repeat: no-repeat;
  background-color: rgb(245, 244, 250);
  background-position: center;
}
@media screen and (min-width: 768px) {
  .feautures-list-img-first::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feautures-list-img-first::before {
    width: 270px;
  }
}

.feautures-list-img-second::before {
  content: "";
  background-image: url(../img/clock.png);
  width: 450px;
  height: 120px;
  display: inline-block;
  background-repeat: no-repeat;
  background-color: rgb(245, 244, 250);
  background-position: center;
}
@media screen and (min-width: 768px) {
  .feautures-list-img-second::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feautures-list-img-second::before {
    width: 270px;
  }
}

.feautures-list-img-third::before {
  content: "";
  background-image: url(../img/diagramma.png);
  width: 450px;
  height: 120px;
  display: inline-block;
  background-repeat: no-repeat;
  background-color: rgb(245, 244, 250);
  background-position: center;
}
@media screen and (min-width: 768px) {
  .feautures-list-img-third::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feautures-list-img-third::before {
    width: 270px;
  }
}

.feautures-list-img-fourth::before {
  content: "";
  background-image: url(../img/astronaut.png);
  width: 450px;
  height: 120px;
  display: inline-block;
  background-repeat: no-repeat;
  background-color: rgb(245, 244, 250);
  background-position: center;
}
@media screen and (min-width: 768px) {
  .feautures-list-img-fourth::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feautures-list-img-fourth::before {
    width: 270px;
  }
}

.modal-span {
  position: relative;
}

.modal-svg {
  fill: currentColor;
  position: absolute;
  top: 0px;
  left: 12px;
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: .join-list p-color;
}
.join-list-link {
  color: .join-list-link adress-hero-color;
  background-color: rgba(255, 255, 255, 0.1);
}
.join-list-link:hover {
  background-color: rgb(33, 150, 243);
}
.join-list-svg {
  fill: currentColor;
}

.icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}
.icons-list-link {
  color: rgb(175, 177, 184);
}
.icons-list-link:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
}
.icons-list-svg {
  fill: currentColor;
}

.client-ico-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.client-ico-svg {
  fill: currentColor;
}

.logo {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(33, 150, 243);
}
.logo-header {
  color: rgb(0, 0, 0);
}
.logo-footer {
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgb(33, 150, 243);
  }
}

.section-hero-btn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 216px;
  height: 50px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgb(33, 150, 243);
}
@media screen and (min-width: 768px) {
  .section-hero-btn {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero-btn {
    width: 216px;
  }
}

.modal-btn-send {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  padding: 10px 52px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.modal-btn-close {
  position: absolute;
  padding: 6px;
  top: 14px;
  right: 14px;
  background-color: inherit;
}
.modal-btn-close:hover {
  color: rgb(33, 150, 243);
}

.filter-list-btn {
  padding: 6px 22px;
  border-radius: 4px;
  background-color: rgb(245, 244, 250);
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: _;
  color: rgb(33, 33, 33);
}
.filter-list-btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.modal-texarea {
  resize: none;
  min-width: 370px;
  min-height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 1200px) {
  .modal-texarea {
    min-width: 448px;
    min-height: 138px;
  }
}

.modal-texarea::-webkit-input-placeholder {
  padding: 12px 16px;
  color: rgb(117, 117, 117);
}

.modal-texarea::-moz-placeholder {
  padding: 12px 16px;
  color: rgb(117, 117, 117);
}

.modal-texarea:-ms-input-placeholder {
  padding: 12px 16px;
  color: rgb(117, 117, 117);
}

.modal-texarea::-ms-input-placeholder {
  padding: 12px 16px;
  color: rgb(117, 117, 117);
}

.modal-texarea::placeholder {
  padding: 12px 16px;
  color: rgb(117, 117, 117);
}

.modal-name-span {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgb(117, 117, 117);
}

.modal-span-privacy {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: _;
  padding-left: 8px;
}
@media screen and (min-width: 1200px) {
  .modal-span-privacy {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: center;
    color: _;
  }
}

.input-name, .input-email, .input-tel {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.input-tel, .input-email, .input-name, .input-coment, .modal-texarea:focus-within {
  outline-color: rgb(33, 150, 243);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  max-height: 609px;
  background-color: rgb(255, 255, 255);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.modal-desc {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: _;
  padding-bottom: 12px;
}
.modal-link:focus-within {
  color: rgb(33, 150, 243);
}
.modal-close-link {
  position: sticky;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-link:focus-within {
  color: rgb(33, 150, 243);
}
.modal-coment-wrap {
  padding-bottom: 30px;
}
.modal-privacy-link {
  color: rgb(33, 150, 243);
  border-bottom: 1px solid rgb(33, 150, 243);
}
.modal-svg-close {
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.no-scroll {
  overflow: hidden;
}

.modal-close {
  fill: currentColor;
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: rgb(117, 117, 117);
}
.join-list-link {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
}
.join-list-link:hover {
  background-color: rgb(33, 150, 243);
}
.join-list-svg {
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .join-list {
    margin-right: 93px;
  }
}

.join-ico-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .join-ico-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgb(255, 255, 255);
  }
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: rgb(117, 117, 117);
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.contact-list-item:hover {
  color: rgb(33, 150, 243);
}
.contact-list-svg {
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .contact-list-svg {
    width: 16px;
    height: 12px;
  }
}
.contact-list-svg-phone {
  width: 10px;
  height: 14px;
}
.contact-list-link {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: _;
  color: _;
  position: relative;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
@media screen and (min-width: 1200px) {
  .contact-list-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: _;
    color: _;
  }
}
@media screen and (min-width: 768px) {
  .contact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    margin-left: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    margin-left: 315px;
  }
}

.section-portfolio {
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .section-portfolio {
    padding-bottom: 94px;
  }
}

.portfolio-list-move {
  padding: 20px 24px;
}
@media screen and (min-width: 1200px) {
  .portfolio-list-move {
    padding: 24px 20px;
  }
}
.portfolio-list-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: rgb(33, 33, 33);
}
.portfolio-list-descript {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgb(117, 117, 117);
  margin-top: 19px;
}
.portfolio-list-item {
  outline: 1px solid rgb(236, 236, 236);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  margin-bottom: 30px;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio-list-item {
    max-width: 354px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list-item {
    max-width: 370px;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-desc {
  position: absolute;
  top: 1px;
  padding: 63px 24px 0px 24px;
  max-width: 450px;
  height: 294px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: _;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-overlay-desc {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-overlay-desc {
    max-width: 370px;
  }
}

.portfolio-link:hover .portfolio-overlay-desc {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-list-item:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 8px;
  margin-top: 60px;
  margin-bottom: 34px;
  max-width: 326px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    max-width: 575px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-top: 94px;
  }
}

.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: _;
  margin-bottom: 50px;
}

.client-ico-item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border-radius: 4px;
  border: solid 1px;
  color: rgb(175, 177, 184);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-ico-item:hover {
  color: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
}

@media screen and (max-width: 1200px) {
  .client-ico-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .client-ico-item {
    min-width: 226px;
  }
}
@media screen and (max-width: 768px) {
  .client-ico-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .client-ico-item {
    min-width: 210px;
  }
}
.section-features {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-features {
    padding: 94px 0;
  }
}

.feautures-list-descript {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgb(117, 117, 117);
  width: 450px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .feautures-list-descript {
    margin: 0;
  }
}
.feautures-list-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(33, 33, 33);
  padding-bottom: 10px;
  padding-top: 30px;
}
@media screen and (min-width: 1200px) {
  .feautures-list-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgb(33, 33, 33);
  }
}
@media screen and (min-width: 768px) {
  .feautures-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .feautures-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feautures-list-descript {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feautures-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feautures-list-descript {
    width: 270px;
  }
}

.footer {
  background: rgb(47, 48, 58);
  padding: 60px 0;
}
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px 165px;
}
@media screen and (min-width: 1200px) {
  .footer-wrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0;
  }
}
.footer-ico-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer-addres {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-addres {
    -moz-text-align-last: left;
         text-align-last: left;
    margin-right: 70px;
  }
}
.footer-form-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgb(255, 255, 255);
  }
}
.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer-form-input {
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px;
  width: 358px;
  color: rgb(255, 255, 255);
}
.footer-form-input {
  outline: none;
  min-width: 450px;
}
@media screen and (min-width: 1200px) {
  .footer-form-input {
    min-width: 258px;
  }
}
.footer-form-btn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  padding: 10px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
}
.footer-form-svg {
  fill: currentColor;
}

@media screen and (max-width: 768px) {
  .contact-list, .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}
.header {
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 16px 0;
}
.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-btn {
  margin-left: auto;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}

.section-hero {
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/section-hero-bg-img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/section-hero-bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-hero-title {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 360px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .section-hero-title {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgb(255, 255, 255);
  }
}
@media screen and (min-width: 1200px) {
  .section-hero-title {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgb(255, 255, 255);
    max-width: 696px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/section-hero-bg-img.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/section-hero-bg-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.nav-list {
  margin-left: 88px;
}
.nav-list-link:hover {
  color: rgb(33, 150, 243);
}
@media screen and (min-width: 1200px) {
  .nav-list {
    margin-left: 93px;
  }
}

.section-team {
  background: rgb(245, 244, 250);
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-team-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: _;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding: 94px;
  }
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
.team-list-item {
  background: rgb(255, 255, 255);
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  min-width: 450px;
  margin-bottom: 30px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .team-list-item {
    min-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list-item {
    min-width: 270px;
  }
}
.team-list-img {
  width: 270px;
  height: 260px;
}
.team-list-title {
  margin: 30px 0px 10px 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(33, 33, 33);
}
.team-list-descript {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(117, 117, 117);
}
@media screen and (min-width: 768px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.section-work {
  padding-bottom: 94px;
}
.section-work-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: .section-work-title descript-and-header-color;
  margin-bottom: 50px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work-list-wrap {
  position: relative;
}
.work-list-img {
  width: 370px;
  height: 294px;
}
.work-list-desc {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .section-work {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */