ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}

body {
  font-family: Roboto;
  font-size: 14px;
  padding-top: 80px;
}

.header {
  padding: 24px 0;
  background-color: white;
  z-index: 1;
  position: fixed;
  min-height: 80px;
  width: 100%;
  top: 0;
}
.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: rgb(33, 150, 243);
}
.logo-header {
  color: rgb(0, 0, 0);
}
.logo-footer {
  color: rgb(255, 255, 255);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: 93px;
  position: relative;
}
.nav-list-link:hover {
  color: rgb(33, 150, 243);
}
.nav-list-link-current::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(33, 150, 243);
  margin-bottom: -32px;
  -webkit-animation-name: ani;
          animation-name: ani;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.nav-list-item, .nav-list-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  position: relative;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding-left: 318px;
}
.contact-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: rgb(117, 117, 117);
}
.contact-list-item:hover {
  color: rgb(33, 150, 243);
}
.contact-list-svg {
  fill: currentColor;
}
.contact-list-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  position: relative;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.section-hero {
  background-color: var(--bg-color);
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 696px;
  margin: 0 auto;
}
.section-hero-btn {
  background-color: rgb(33, 150, 243);
  color: rgb(236, 236, 236);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */