%header-wrap{
    padding: 24px 0;
    background-color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

%nav-list{
    display: flex;
    gap: 50px;
    position: relative;
}

%portfolio-nav-link-item-contacts{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 0.5s ease;
}

@mixin font-style( $ff, $fz, $fw, $lh, $ls, $ta){
    font-family: $ff;
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
    text-align: $ta;
}