%work-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 50px;

    color: &descript-and-header-color;
}

%header-wrap{
    padding: 24px 0;

    background-color: white;

    z-index: 1;

    position: fixed;

    width: 100%;

    top: 0;
}

%nav-list{
    display: flex;
    gap: 50px;

    position: relative;
}

%portfolio-nav-link-item-contacts{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;

    transition: color 0.5s ease;
}