%header-wrap{
    background-color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

%nav{
    display: flex;
    gap: 50px;
    position: relative;
}

%nav-list-item-link{
    @include font-style(Roboto, 14px, 500, 1.1, 0.02em, center, _);
    position: relative;
    transition: color 0.5s ease;
}

%portfolio-nav-link-item-contacts{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 0.5s ease;
}

%link-current{
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(33, 150, 243, 1);
    margin-bottom: -33px;
    animation-name: ani;
    animation-duration: 3s;
}

%svg-link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
