$black-main-color: rgba(0, 0, 0, 1);
$blue-main-color: rgba(33, 150, 243, 1);
$descript-and-header-color: rgba(33, 33, 33, 1);
$p-color: rgba(117, 117, 117, 1);
$bg-color: rgba(47, 48, 58, 1);
$white-main-color: rgba(236, 236, 236, 1);
$footer-mail-number-color: rgba(255, 255, 255, 0.6);
$adress-hero-color: rgba(255, 255, 255, 1);
$team-bg-color: rgba(245, 244, 250, 1);
$bgimg-color:rgba(245, 244, 250, 1);
$section-hero-bg-color-for-img:rgba(47, 48, 58, 0.4);
