.section-clients{
    padding-top: 60px;
    padding-bottom: 60px;

    @include desc(1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
    
.client-title{
    @include font-style(Roboto, 36px, 700, 1.1, 0.03em, center, _);
    margin-bottom: 50px;
}

.client-ico-item{
    flex-basis: calc((100% - 150px) / 6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border-radius: 4px;
    border: solid 1px;
    color: rgba(175, 177, 184);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        color: $blue-main-color;
        border-color: $blue-main-color;
    }

}

@media screen and (max-width: 1200px) {
    .client-ico-list{
        flex-wrap: wrap;
    }

    .client-ico-item{
        min-width: 226px;
    }
}

@media screen and (max-width: 768px) {
    .client-ico-list{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .client-ico-item{
        min-width: 210px;
    }
}