.section-clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
    
.client-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    
    margin-bottom: 50px;
}