.section-features{
    padding: 94px 0;
}

.feautures-list{
    display: flex;
    justify-content: space-between;

    &-title{
        @include font-style(Roboto, 14px, 700, 1.1, 0.03em, left, $descript-and-header-color);
    }

    &-descript{
        @include font-style(Roboto, 14px, 400, 1.1, 0.03em, left, $p-color);
        max-width: 270px;
    }

    &-title{
    font-weight: 700;
    line-height: 1,1;
    color: $descript-and-header-color;
    padding-bottom: 10px;

    padding-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .feautures-list{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-descript{
            min-width: 450px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .feautures-list{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;

        &-descript{
            min-width: 354px;
        }
    }
}