.footer{
    background: $bg-color;
    padding: 60px 0;

    &-wrap{
    display: flex;
    gap: 70px;
    }

    &-ico-list{
    display: flex;
    gap: 10px;

    margin-top: 20px;
    }

    &-fotm-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $adress-hero-color;

    margin-bottom: 20px;
    }

    &-form{
    display: flex;
    gap: 12px;
    }

    &-form-input{
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    
    padding: 15px;
    
    width: 358px;
    
    color: $adress-hero-color;
    }
    
    &-form-input{
    outline: none;
    }
    
    &-form-btn{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    text-align: center;
    
    color: $adress-hero-color;
    background-color: $blue-main-color;
    
    padding: 10px 13px 10px 26px;
    
    display: flex;
    align-items: center;
    gap: 10px;
    
    border-radius: 4px;
    }
    
    &-form-svg{
    fill: currentColor;
    }
}

.adress{
    margin-top: 20px;

    &-list-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: $footer-mail-number-color;
    text-decoration: none;
    }

    &-list-location-link{
    color: $adress-hero-color;
    }

    &-list-item{
    margin-bottom: 9px;
    }

}

