.footer{
    background: $bg-color;
    padding: 60px 0;

    &-wrap{
        display: flex;
        gap: 70px;
    }

    &-form{
        display: flex;
        gap: 12px;

        &-title{
            text-transform: uppercase;
            @include font-style(Roboto, 14px, 700, 1.1, 0.03em, _, $adress-hero-color);
            padding-bottom: 20px;
        }

        &-input{
            background-color: inherit;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            padding: 15px;
            width: 358px;
            color: $adress-hero-color;
        }

        &-input{
            outline: none;
        }

        &-btn{
            @include font-style(Roboto, 16px, 700, 1.8, 0.06em, center, $adress-hero-color);
            background-color: $blue-main-color;
            padding: 10px 13px 10px 26px;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
        }

        &-link{
            color: $adress-hero-color;
            width: 24px;
            height: 24px;
        }

        &-svg{
            fill: currentColor;
        }
    }
}



.join-ico-title{
    @include font-style(Roboto, 14px, 700, 1.1, 0.03em, _, $adress-hero-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}
