@media screen and (max-width: 768px) {
    .contact-list, .nav{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header-btn{
        display: none;
    }
}

.header{
    @extend %header-wrap;
    border-bottom: 1px solid $white-main-color;
    padding: 16px 0;

    &-wrap{
        display: flex;
        align-items: center;
    }

    &-btn{
        margin-left: auto;
        background-color: inherit;
    }

    @include tab(768px){
        padding: 21px 0;
    }

    @include desc(1200px){
        padding: 25px 0;
    }
}