.section-hero{
    padding: 118px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/section-hero-bg-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &-title{
        @include font-style(Roboto, 44px, 900, 1.3, 0.06em, center, $adress-hero-color);
        max-width: 360px;
        margin: 0 auto;
    
            @include tab(768px){
                @include font-style(Roboto, 26px, 900, 1.6, 0.06em, center, $adress-hero-color);
            }

            @include desc(1200px){
                @include font-style(Roboto, 44px, 900, 1.3, 0.06em, center, $adress-hero-color);
                max-width: 696px;
                margin: 0 auto;
            }
        } 
}

.section-hero{
    @include tab(768px){
        padding: 200px 0;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/section-hero-bg-img.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }   
}

