.nav-list{
    @extend %nav-list;
    margin-left: 93px;

    &-link:hover{
        color: $blue-main-color;
    }

    &-link-current::before{
        @extend %nav-link-current;
    }

    &-item, &-link{
        @include font-style(Roboto, 14px, 500, 1.1, 0.02em, center);
        position: relative;
        transition: color 0.5s ease;
    }

}