.nav-list{
    @extend %nav;
    margin-left: 88px;

    &-link:hover{
        color: $blue-main-color;
    }

    &-link-current::before{
        @extend %link-current;
    }

    &-item, &-link{
        @extend %nav-list-item-link;
    }

    @include desc(1200px){
        margin-left: 93px;
    }
}