.section-team{
    background: $team-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;

    &-title{
        @include font-style(Roboto, 36px, 700, 1.6, 0.03em, center, _);
        margin: 0 auto;
    }

    @include desc(1200px){
        padding: 94px;
    }
}

.team-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;

    &-item{
        background: $adress-hero-color;
        height: 428px;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        min-width: 450px;
        margin-bottom: 30px;
        margin: 0 auto;

        @include tab(768px){
            min-width: 354px;
        }

        @include desc(1200px){
            min-width: 270px;
        }
    }

    &-img{
        width: 270px;
        height: 260px;
    }

    &-title{
        margin: 30px 0px 10px 0px;
        @include font-style(Roboto, 16px, 500, 1.1, 0.03em, center, $descript-and-header-color);
    }

    &-descript{
        @include font-style(Roboto, 16px, 400, 1.1, 0.03em, center, $p-color);
    }

    @include tab(768px){
        flex-wrap: wrap;
        gap: 30px;
    }
}
