.section-team{
    background: $team-bg-color;
    padding: 94px;

    &-title{
        margin-bottom: 50px;
        @include font-style(Roboto, 36px, 700, 1.6, 0.03em, center);
    }

}

.team-list{
        display: flex;
        justify-content: space-between;

    &-title, &-descript{
        font-size: 16px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-align: center;
    }


    &-item{
        background: $adress-hero-color;
        height: 428px;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    &-img{
        width: 270px;
        height: 260px;
    }

    &-title{
        color: $descript-and-header-color;
        margin-bottom: 10px;
        font-weight: 500;
        margin-top: 30px;
    }

    &-descript{
        color: $p-color;
        font-weight: 400;
    }

}

.icons-list{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;

    &-link{
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: rgba(175, 177, 184);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-link:hover{
        color: $adress-hero-color;
        background-color: $blue-main-color;
    }

    &-svg{
        fill: currentColor;
    }

}