.adress{
    margin-top: 20px;

    &-list-link{
        @include font-style(Roboto, 14px, 400, 1.7, 0.03em, left, $footer-mail-number-color);
    }

    &-list-location-link{
        color: $adress-hero-color;
    }

    &-list-item{
        margin-bottom: 9px;
    }

}