.feautures-list-img-first::before{
    content: "";
    background-image: url(../img/antena.png);
    width: 270px;
    height: 120px;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: $bgimg-color;
    background-position: center;
}

.feautures-list-img-second::before{
    content: "";
    background-image: url(../img/clock.png);
    width: 270px;
    height: 120px;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: $bgimg-color;
    background-position: center;
}

.feautures-list-img-third::before{
    content: "";
    background-image: url(../img/diagramma.png);
    width: 270px;
    height: 120px;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: $bgimg-color;
    background-position: center;
}

.feautures-list-img-fourth::before{
    content: "";
    background-image: url(../img/astronaut.png);
    width: 270px;
    height: 120px;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: $bgimg-color;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .feautures-list-img-first::before, .feautures-list-img-second::before, .feautures-list-img-third::before, .feautures-list-img-fourth::before{
        width: 450px;
    }
}

@media screen and (max-width: 1200px) {
    .feautures-list-img-first::before, .feautures-list-img-second::before, .feautures-list-img-third::before, .feautures-list-img-fourth::before{
        width: 354px;
    }
}

