.join-list{
    display: flex;
    align-items: center;
    gap: 10px;
    color: &p-color;

    &-link{
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: &adress-hero-color;
        background-color: rgba(255, 255, 255, 0.1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-link:hover{
        background-color: &blue-main-color;
    }

    &-svg{
        fill: currentColor;
    }

}