.section-hero-btn{
    @include font-style(Roboto, 16px, 700, 1.8, 0.06em, center, $adress-hero-color);
    width: 216px;
    height: 50px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background-color: $blue-main-color;

    @include tab(768px){
        width: 200px;
    }

    @include desc(1200px){
        width: 216px;
    }
}

.modal-btn-send{
    @include font-style(Roboto, 16px, 700, 1.8, 0.06em, center, $adress-hero-color);
    background-color: $blue-main-color;
    padding: 10px 52px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}

.modal-btn-close{
    position: absolute;
    padding: 6px;
    top: 14px;
    right: 14px;
    background-color: inherit;

    &:hover{
        color: $blue-main-color;
    }
}