.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 528px;
    max-height: 581px;
    background-color: $adress-hero-color;
    transform: translate(-50%, -50%);
  
    padding: 40px;
  
    display: flex;
    flex-direction: column;
  
    &-desc{
        font-size: 20px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-align: center;
    
        padding-bottom: 12px;
    }
  
    &-name-span{
        font-size: 12px;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0.01em;
    
        color: $p-color;
    
        padding-bottom: 4px;
    }
  
    &-btn-close{
        position: absolute;
    
        padding: 6px;
    
        top: 14px;
        right: 14px;
    
        background-color: inherit;
    }
  
    &-btn-close:hover{
        color: $blue-main-color;
    }
    
    &-close-link{
        position: sticky;
    
        width: 30px;
        height: 30px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        border-radius: 50%;
    
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &-link:focus-within{
        color: $blue-main-color;
        
    }
    
    &-svg-close{
        fill: currentColor;
    }
    
    &-form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-span{
        position: relative;
    }
    
    &-svg{
        fill: currentColor;
    
        position: absolute;
    
        top: 0px;
        left: 12px;
    }
    
    &-coment-wrap{
        padding-bottom: 30px;
    }
    
    &-span-privacy{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.03em;
    
        padding-left: 8px;
    }
    
    &-privacy-link{
        color: $blue-main-color;
    
        border-bottom: 1px solid $blue-main-color;
    }
    
    
    &-texarea{
        resize: none;
    
        min-width: 448px;
        min-height: 138px;
    
        border: 1px solid rgba(33, 33, 33, 0.2)
    }
    
    &-btn-send{
        font-size: 16px;
        font-weight: 700;
        line-height: 1.8;
        letter-spacing: 0.06em;
    
        color: $adress-hero-color;
        background-color: $blue-main-color;
    
        padding: 10px 52px;
    
        display: block;
        margin: 0 auto;

        border-radius: 4px;
    }

  }
  
  .input-name, .input-email, .input-tel{
      width: 100%;
      height: 40px;
  
      padding-left: 42px;
  
      border-radius: 4px;
  
      border: 1px solid rgba(33, 33, 33, 0.2);
      
  }
  
  .input-tel, .input-email, .input-name, .input-coment, .modal-texarea:focus-within{
      outline-color: $blue-main-color;
  }
  
  .no-scroll {
    overflow: hidden;
  }