.filter-list-btn{
    padding: 6px 22px;
    border-radius: 4px;
    background-color: $team-bg-color;
    display: block;

    @include font-style(Roboto, 16px, 500, 1.6, 0.03em, _, $descript-and-header-color);

    &:hover{
        color: $adress-hero-color;
        background-color: $blue-main-color;
        transition: background-color 0.5s ease;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
}