.contact-list{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 318px;

    &-item{
        display: flex;
        align-items: center;
        gap: 10px;
        color: $p-color;
    }

    &-item:hover{
        color: $blue-main-color;
    }

    &-svg{
        fill: currentColor;
    }

    &-link{
        @include font-style(Roboto, 14px, 500, 1.1, 0.02em, _, _);
        position: relative;
        transition: color 0.5s ease;
    }

}