.section-portfolio{
    padding-bottom: 30px;

    @include tab(768px){
        padding-bottom: 94px;
    }
}

.portfolio-list{

    &-move{
        padding: 20px 24px;

        @include desc(1200px){
            padding: 24px 20px;
        }
    }

    &-title{
        @include font-style(Roboto, 18px, 700, 2, 0.06em, left, $descript-and-header-color);
    }

    &-descript{
        @include font-style(Roboto, 16px, 400, 1.8, 0.03em, left, $p-color);
        margin-top: 19px;
    }

    &-item{
        outline: 1px solid $white-main-color;
        box-sizing: content-box;
        position: relative;
        margin-bottom: 30px;
        max-width: 450px;

        @include tab(768px){
            max-width: 354px;
            margin: 0;
        }

        @include desc(1200px){
            max-width: 370px;
            margin: 0;
        }
    }

    @include tab(768px){
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.img-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-desc{
    position: absolute;
    top: 1px;
    padding: 63px 24px 0px 24px;
    max-width: 450px;
    height: 294px;
    @include font-style(Roboto, 18px, 400, 1.5, 0.03em, _, $adress-hero-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tab(768px){
        max-width: 354px;
    }

    @include desc(1200px){
        max-width: 370px;
    }
}

.portfolio-link:hover .portfolio-overlay-desc{
    transform: translateY(0);
}

.portfolio-list-item:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

}

.filter-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px 8px;
    margin-top: 60px;
    margin-bottom: 34px;
    max-width: 326px;

    @include tab(768px){
        max-width: 575px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    @include desc(1200px){
        margin-top: 94px;
    }
}