.join-list{
    display: flex;
    align-items: center;
    gap: 10px;
    color: $p-color;

    &-link{
        color: $adress-hero-color;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &-link:hover{
        background-color: $blue-main-color;
    }

    &-svg{
        fill: currentColor;
    }

    @include desc(1200px){
        margin-right: 93px;
    }
}

.join-ico-title{
    @include font-style(Roboto, 14px, 700, 1.1, 0.03em, center, $adress-hero-color);
    text-transform: uppercase;
    margin-bottom: 20px;

    @include desc(1200px){
        @include font-style(Roboto, 14px, 700, 1.1, 0.03em, left, $adress-hero-color);
    }
}